.titulo-inicio{
    font-family: $fuente_cursiva;
    color: $naranja;
    font-weight: $bold;
    font-size: 4rem;
}

.formulario{
  background-color: $grisOscuro;
  min-width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 1rem;
  
  label{
    color: $blanco;
  }

  fieldset{
    border-color: $amarillo;
    border-radius: 1rem;

    legend{
      font-size: 1.8rem;
      text-align: center;
      text-transform: capitalize;
      color: $blanco;

      @include tablet{
        text-align: left;
      }
    }
    
    &:nth-child(2),
    &:nth-child(3){
      margin-top: 3rem;
    }
  }

  .fotografia{
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
  }
  
    .btn-llamada{
      margin: 0 auto;
      padding: .5rem;
      background-color: $rojo;
      border-radius: 1rem;
      text-align: center;
      color: $blanco;
    }
}

.campo{
  margin-bottom: 1rem;

  label{
    color:  $blanco;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
  }

  textarea{
    height: 15rem;
    resize: none;
  }

}

.file-input{
  max-width: 20rem;
  background-color: $amarillo;
  border: 1px solid $blanco;
  border-radius: .5rem;
}
.input-text{
  width: 100%;
  min-height: 4rem;
  border-radius: .5rem;
}

@include tablet{
  .contenedor-campos{
    @include grid(2, 1rem);
  }
  
  .text-restrict{
    grid-row: 4 / 5;
  }
  
  .input-largo{
    grid-column: 1 / 3;
  }

  
}

.checkbox-wrapper{
  
  position: relative;
  display: block;
  overflow: hidden;

  input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .label {
    cursor: pointer;
  }

  .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }

  .label svg {
    vertical-align: middle;
  }

  .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
  }
  
  .check:checked + label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
  
.checkbox-wrapper *,
  .checkbox-wrapper ::after,
  .checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}