#sidebar{
    position: fixed;
    width: 15rem;
    height: 100%;
    background-color: $naranja;
    top: 0;
    left: -15rem;
    transition: all 200ms linear;
    ul{
        
        .btn-logout{
            padding: 1rem 2rem;
            color: $negro;
            
            &:hover{
                text-decoration: underline $negro;
            }
        }
        
        

        li{
            color: $blanco;
            font-size: 1.5rem;
            text-align: center;
            padding: 1rem .5rem;
            margin: 2rem .5rem;
            list-style: none;
            border-radius: 1rem;
        
            &.img-logo{
                display: block;
                margin: 0 auto;
                
                img{
                    border-radius: 50%;
                }
            }
            
            a{
                color: $blanco;
            }
    
            &:hover{
                background-color: lighten($naranja, 15);
                cursor: pointer;
            }
    
            &.btn-active{
                background-color: darken($amarillo, 10);    
            }
        }
    }

    .toggle-btn{
        position: absolute;
        left: 16rem;
        top: 1.5rem;
        cursor: pointer;

        i{
            display: block;
            text-align: center;
            font-size: 3rem;
            border: 2px solid $negro;
            border-radius: .5rem;
        }
    }

    &.active{
        left: 0;
    }
}


.cont-principal{
    
    background-color: lighten($grisClaro, 2);
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem 5rem;
    min-height: calc(100vh - 2rem);
    transition: all 200ms linear;
    width: calc(100% - 2rem);

}
